.bg-image-sec-7{
 background-image: url('/images/bg-7-img.png');
 background-repeat: no-repeat;
}
.sec-7-bg-one{
  z-index: -1;
  bottom: 0;
}
.sec-7-bg-two{
  z-index: 10;
  right: 0;
  top: -12%;
}
.sec-7{
  z-index: 1;
}
@media (max-width: 767.98px) {   
   .sec-7-bg-one{
  z-index: -1;
  top: 0%;
  
}
.sec-7-bg-two{
  z-index: -1;
  right: 0;
  top: 70%;
}
}
@media (max-width: 575.98px) {
    .sec-7-bg-one{
 display: none;
  
}
}